extends layoutBS

block content
  body
  .container
    .section
      .box.center
        h1.mono.center.deisBlue.underline Easy to Use
        br
        img.medium(src ='/images/google.jpg')
        br
        br
        h3.center.deisBlue The Book Center is proud of its easy usability. We stand by our simple design to making finding what you need a breeze. Our inspiration for this is Google's main search page. Easy search means easy find.
        br
        br
      .box.center
        h1.mono.center.deisBlue.underline Our Mission
        br
        img.medium(src ='/images/shiba.jpg')
        br
        br
        h3.deisBlue We want The Book Center to be useful to students. No more lost listings on Facebook while selling. We will help you find what you need and sell what you don't need. The ultimate goal is to make everyone as happy as this Shiba Inu.
        br
        br
      .box.center
        h1.center.mono.center.deisBlue.underline Michal Leung
        br
        img.medium(src ='/images/michael.jpg')
        br
        br
        h3.center.deisBlue I am an undergraduate second-year majoring in Computer Science and Business with a minor in East Asian Studies. I am a jumper and short sprinter on Brandeis' Varsity Mens Track & Field team. I enjoy drinking tea and traveling.
        br
        br
    br
    br
    br
    br
