extends layoutBS

block content
  br
  h1.big.fancy.red All Brandeis Academic Departments
  br
  a(href="http://www.Brandeis.edu/registrar/bulletin/2017-2018/registrar/bulletin/provisional/courses/codes.html") Link to all the Brandeis Department Abbreviations
  br
  br
  h2.red Departments arranged alphabetically
  a(href="/departments/A") A
  a(href="/departments/B")  B
  a(href="/departments/C")  C
  a(href="/departments/D")  D
  a(href="/departments/E")  E
  a(href="/departments/F")  F
  a(href="/departments/G")  G
  a(href="/departments/H")  H
  a(href="/departments/I")  I
  a(href="/departments/J")  J
  a(href="/departments/K")  K
  a(href="/departments/L")  L
  a(href="/departments/M")  M
  a(href="/departments/N")  N
  a(href="/departments/O")  O
  a(href="/departments/P")  P
  a(href="/departments/Q")  Q
  a(href="/departments/R")  R
  a(href="/departments/S")  S
  a(href="/departments/T")  T
  a(href="/departments/U")  U
  a(href="/departments/V")  V
  a(href="/departments/W")  W
  a(href="/departments/X")  X
  a(href="/departments/Y")  Y
  a(href="/departments/Z")  Z
  br
  br
  a.nav-link.active(href="/departments/GECS") German and European Cultural Studies
  a.nav-link.active(href="/departments/GER") German Studies
  a.nav-link.active(href="/departments/GRK") Greek
  a.nav-link.active(href="/departments/GS") Global Studies
