extends layoutBS

block content
  body
  .container.blueBC
    br
    h1.big.mono.white.leftBorder Department I
    hr
    h2.white.leftBorder Departments arranged alphabetically
    a.leftBorder(href="/departments/A") A
    a.leftBorder(href="/departments/B")  B
    a.leftBorder(href="/departments/C")  C
    a.leftBorder(href="/departments/D")  D
    a.leftBorder(href="/departments/E")  E
    a.leftBorder(href="/departments/F")  F
    a.leftBorder(href="/departments/G")  G
    a.leftBorder(href="/departments/H")  H
    a.leftBorder(href="/departments/I")  I
    a.leftBorder(href="/departments/J")  J
    a.leftBorder(href="/departments/K")  K
    a.leftBorder(href="/departments/L")  L
    a.leftBorder(href="/departments/M")  M
    a.leftBorder(href="/departments/N")  N
    a.leftBorder(href="/departments/O")  O
    a.leftBorder(href="/departments/P")  P
    a.leftBorder(href="/departments/Q")  Q
    a.leftBorder(href="/departments/R")  R
    a.leftBorder(href="/departments/S")  S
    a.leftBorder(href="/departments/T")  T
    a.leftBorder(href="/departments/U")  U
    a.leftBorder(href="/departments/V")  V
    a.leftBorder(href="/departments/W")  W
    a.leftBorder(href="/departments/X")  X
    a.leftBorder(href="/departments/Y")  Y
    a.leftBorder(href="/departments/Z")  Z
    br
    hr
    br
    a.nav-link.active.leftBorder(href="/departments/IGS") International and Global Studies
    a.nav-link.active.leftBorder(href="/departments/IIM") Independent Interdisciplinary Major
    a.nav-link.active.leftBorder(href="/departments/IMES") Islamic and Middle Eastern Studies
    a.nav-link.active.leftBorder(href="/departments/INT") Internship
    a.nav-link.active.leftBorder(href="/departments/ITAL") Italian Studies
    br
