extends layoutBS

block content
  body.bc
  br
  br
  h1.big.fancy.red.center Welcome to
  h1.huge.mono.blue.center.bold The Book Center
  br
  br
  h2 Here is a place where you can sell the books that you are done with for the semester
  h2 and this is also the place where you can find the books you need at a hopefully lower price.
