extends layoutBS

block content
  body.bc
  br
  br
  br
  br
  h1.big.mono.red.center Welcome to Michael Leung's
  br
  br
  h1.huge.mono.blue.center.bold The Book Center
  br
  br
  br
  .wrap
    .search
      input.searchTerm.mediumFont(type='text' placeholder='What are you looking for?')
      button.searchButton(type='submit') Search
        i.fa.fa-search
  //img.imgCenter(src ='/images/bookCase.jpg')
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  h1.mono.center.red OUR MISSION
  h2.center We want The Book Center to be useful to students.
  h2.center No more lost listings on Facebook while selling.
  h2.center We will help you find what you need and sell what you don't need.
  br
  br
  .section
    .box.center
      h1.mono.center.red Easy to Use!
      br
      img.medium(src ='/images/google.jpg')
      br
      br
      h3.center The Book Center is proud of its easy usability. We stand by our simple design to making finding what you need a breeze. Our inspiration for this is Google's main search page. Easy search means easy find.
    .box.center
      //h1.mono.center.red Why The Book Center is special
      h1.mono.center.red This is a dog
      br
      img.medium(src ='/images/shiba.jpg')
      br
      br
      //h3 The Book Center is special because with the right funding and attention, we can one day even have a Shiba Inu Delivery Service!
      h3 This is a dog
    .box.center
      h1.mono.center.red Michal Leung
      br
      img.medium(src ='/images/michael.jpg')
      br
      br
      h3 I am an undergraduate second-year majoring in Computer Science and Business with a minor in East Asian Studies. I am a jumper and short sprinter on Brandeis' Varsity Mens Track & Field team. I enjoy drinking tea and traveling.
  br
  br
  p Michael Leung 2018 (Voice, Web, and Mobile Apps Justice Brandeis Semester)
