extends layoutBS

block content
  body
  .container.blueBC
    //br
    //br
    //br
    br
    //h1.big.mono.white.center Welcome to Michael Leung's
    br
    br
    h1.huge.mono.white.center.bold The Book Center
    br
    br
    br
    .wrap
      .search
        input.searchTerm.mediumFont(type='text' placeholder='What are you looking for?')
        button.searchButton(type='submit') Search
          i.fa.fa-search
    br
    br
    br
    br
    br
    br
    br

    //h1.mono.center.white.underline OUR MISSION
    //h2.center We want The Book Center to be useful to students.
    //h2.center No more lost listings on Facebook while selling.
    //h2.center We will help you find what you need and sell what you don't need.
    br
    br

    //p.white.footer.mono Michael Leung 2018 (Voice, Web, and Mobile Apps Justice Brandeis Semester)
