extends layoutBS

block content
  body.bc
  br
  h1.big.mono.underline.leftBorder Log In
  br
  form(method="post" action="/logIn")
    .container
      label(for='username')
        b Username
      br
      input(type='text' placeholder='Enter Username' name='username' required='')
      br
      label(for='password')
        b Password
      br
      input(type='password' name="password" placeholder='Enter Password' required='')
      br
      label
        input(type='checkbox' name='remember')
        |  Remember me
      br
      button(type='submit') Login
      a.nav-link.active(href="/forgotPassword") Forgot Password?
