extends layoutBS

block content
  body.bc
  br
  h1.big.fancy.red Log In
  br
  h2.big Email address/Username
  textarea.test1(rows="1" cols="50")
  //p We'll never share your email with anyone else.

  h2.big Password
  textarea.test1(rows="1" cols="50")
  br
  br
  input.big(type="checkbox")
  | Remember Me
  br
  br
  button.btn-primary.btn-lg submit
