extends layoutBS

block content
  body.bc
  br
  h1.big.fancy.red.leftBorder Department Q
  br
  a.leftBorder(href="http://www.Brandeis.edu/registrar/bulletin/2017-2018/registrar/bulletin/provisional/courses/codes.html") Link to all the Brandeis Department Abbreviations
  br
  br
  h2.red.leftBorder Departments arranged alphabetically
  a.leftBorder(href="/departments/A") A
  a.leftBorder(href="/departments/B")  B
  a.leftBorder(href="/departments/C")  C
  a.leftBorder(href="/departments/D")  D
  a.leftBorder(href="/departments/E")  E
  a.leftBorder(href="/departments/F")  F
  a.leftBorder(href="/departments/G")  G
  a.leftBorder(href="/departments/H")  H
  a.leftBorder(href="/departments/I")  I
  a.leftBorder(href="/departments/J")  J
  a.leftBorder(href="/departments/K")  K
  a.leftBorder(href="/departments/L")  L
  a.leftBorder(href="/departments/M")  M
  a.leftBorder(href="/departments/N")  N
  a.leftBorder(href="/departments/O")  O
  a.leftBorder(href="/departments/P")  P
  a.leftBorder(href="/departments/Q")  Q
  a.leftBorder(href="/departments/R")  R
  a.leftBorder(href="/departments/S")  S
  a.leftBorder(href="/departments/T")  T
  a.leftBorder(href="/departments/U")  U
  a.leftBorder(href="/departments/V")  V
  a.leftBorder(href="/departments/W")  W
  a.leftBorder(href="/departments/X")  X
  a.leftBorder(href="/departments/Y")  Y
  a.leftBorder(href="/departments/Z")  Z
  br
  br
  p.leftBorder No departments starting with q
