extends layoutBS

block content
  body.bc
  br
  h1.big.fancy.red.leftBorder Your Pages
  br
  img.leftBorder(src ='/images/michael.jpg')
  p.leftBorder Your picture goes here
  textarea.test1.leftBorder(rows="5" cols="20" placeholder="Your bio goes here!")
  br
  img.small.leftBorder(src ='/images/star.png')
  img.small.leftBorder(src ='/images/star.png')
  img.small.leftBorder(src ='/images/star.png')
  img.small.leftBorder(src ='/images/star.png')
  img.small.leftBorder(src ='/images/eStar.png')
  br
  p.leftBorder Your Rating
  br
  button.btn-primary.btn-lg.first Reviews of You
  button.btn-primary.btn-lg.second Your Reviews
