body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.underline{
  text-decoration: underline;
}
.demo{
  padding: 20px;
  border-left: 30px solid rgba(0,0,0,0.25);
  border-color: blue;
}

.test1{
  font-size: 120;
  overflow: auto;
  //overflow: hidden;
  //overflow: visible;
  border: thin solid blue;
}

[species="bird"]{
  font-size: 1in;
}
[species="fish"]{
  font-size: 1cm;
}
[color ="black"]{
  color:black;
}
[color ="blue"]{
  color:blue;
}
[color ="red"]{
  color:red;
}
[color ="brown"]{
  color:brown;
}
[color ="grey"]{
  color:grey;
}
[air]{
  font-family: cursive;
}
[water]{
  font-family: monospace;
}

.leftBorder{
  left: 100px;
}

.first {
  background-color: blue;
  width: 200px;
  height: 200px;
  top: 0;
  left: 100px;
  opacity: 0.75;
}
.second {
  background-color: blue;
  width: 200px;
  height: 200px;
  top: 0;
  left: 200px;
  opacity: 0.75;
}
.third {
  background-color: blue;
  width: 200px;
  height: 200px;
  top: -15px;
  left: 300px;
  opacity: 0.75;
}
.imgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.small{
  width: 50px;
  height: 50px;
}
.medium{
  width: 300px;
  height: 300px;
}

.first, .second, .third, .leftBorder, .imgCenter {
  position: relative;
}

.bc {
  //background-color: lightgrey;
  background: linear-gradient(white, lightgrey);
}

#air{
  font-size: :50pt;
}
#red{
  background-color: red;
}
#red2{
  color: red;
}
#red3{
  border: thin solid red;
}
.red{
  color:red;
}
.blue{
  color:blue;
}
.big{
  font-size: 30pt;
}
.mediumFont{
  font-size: 20px;
}
.huge{
  font-size: 100pt;
}
.bold{
  font-weight: bold;
}
.center{
  text-align: center;
}
.mono{
  font-family: monospace;
}
.fancy{
  font-family: fantasy;
}

a:link {
    color: blue;
    font-size: 20pt;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

.section {
  width: 93%;
  height: 625px;
  margin: 20px auto;
  background: blue;
  display: flex;
  resize: both;
  overflow: auto;
}
.box {
  //color: white;
  background: lightgrey;
  flex: 1;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
  resize: both;
  overflow: auto;
}
.section, .box {
  border: 5px solid rgba(0,0,0,0.85);
  padding: 10px;
}

.search {
  width: 100%;
  position: relative;
}
.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid red;
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  color: red;
}
.searchTerm:focus{
  color: red;
}
.searchButton {
  position: absolute;
  right: -95px;
  width: 80px;
  height: 50px;
  border: 1px solid red;
  background: red;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  resize: both;
  overflow: auto;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
