body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.underline{
  text-decoration: underline;
}
.demo{
  padding: 20px;
  border-left: 30px solid rgba(0,0,0,0.25);
  border-color: blue;
}
.whiteBC{
  background-color: white;
}
.blueBC{
  background-color: #18395C;
}

.test1{
  font-size: 120;
  overflow: auto;
  //overflow: hidden;
  //overflow: visible;
  border: thin solid blue;
}

[species="bird"]{
  font-size: 1in;
}
[species="fish"]{
  font-size: 1cm;
}
[color ="black"]{
  color:black;
}
[color ="blue"]{
  color:blue;
}
[color ="red"]{
  color:red;
}
[color ="brown"]{
  color:brown;
}
[color ="grey"]{
  color:grey;
}
[air]{
  font-family: cursive;
}
[water]{
  font-family: monospace;
}

.leftBorder{
  left: 55px;
}
.left{
  left: 10px;
}

.first {
  background-color: blue;
  width: 200px;
  height: 200px;
  top: 0;
  left: 100px;
  opacity: 0.75;
}
.second {
  background-color: blue;
  width: 200px;
  height: 200px;
  top: 0;
  left: 200px;
  opacity: 0.75;
}
.third {
  background-color: blue;
  width: 200px;
  height: 200px;
  top: -15px;
  left: 300px;
  opacity: 0.75;
}
.imgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.small{
  width: 50px;
  height: 50px;
}
.medium{
  width: 300px;
  height: 300px;
}

.first, .second, .third, .leftBorder, .imgCenter {
  position: relative;
}

.bc {
  //background-color: #FFFFFF;
  background: linear-gradient(white, #18395C);
}

#air{
  font-size: :50pt;
}
#red{
  background-color: red;
}
#red2{
  color: red;
}
#red3{
  border: thin solid red;
}
.red{
  color:red;
}
.lightgrey{
  color:lightgrey;
}
.white{
  color:white;
}
.blue{
  color:blue;
}
.deisBlue{
  color:#18395C;
}
.big{
  font-size: 30pt;
}
.mediumFont{
  font-size: 20px;
}
.huge{
  font-size: 100pt;
}
.bold{
  font-weight: bold;
}
.center{
  text-align: center;
}
.mono{
  font-family: monospace;
}
.fancy{
  font-family: fantasy;
}

a:link {
    color: white;
    font-size: 20pt;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

.section {
  width: 93%;
  height: 625px;
  margin: 20px auto;
  background: transparent;
  display: flex;
  //resize: both;
  //overflow: auto;
}
.box {
  //color: white;
  background: transparent;
  flex: 1;
  margin-right: 10px;
  text-shadow: 1px 1px 1px black;
  //resize: both;
  //overflow: auto;
}
.section, .box {
  border: 0px solid rgba(0,0,0,0.85);
  padding: 2px;
}

.search {
  width: 100%;
  position: relative;
}
.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #18395C;
  padding: 5px;
  height: 50px;
  border-radius: 20px;
  outline: none;
  color: #18395C;
}
.searchTerm:focus{
  color: #18395C;
}
.searchButton {
  position: absolute;
  right: -110px;
  height: 45px;
  resize: both;
  overflow: auto;
  padding: 5px 15px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #18395C;
  background-color: #FFF;
  border: 1in;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//.searchButton:hover {background-color: #18395C}
.searchButton:active {
  background-color: #FFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer {
   position: auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   text-align: left;
}

.checked {
  color: orange;
}


/*this is the beginning of the side bar CSS */

.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #18395C;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #FFFFFF;
display: block;
transition: 0.3s;
}
.sidenav a:hover {
color: #f1f1f1;
}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.btn{
  width: 4in;
  height: 4in;
  background-color: red;
}

/*this is the end of the side bar CSS */


/*this is the beginning of the side bar buttons CSS */

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #18395C;
  font-size: 20px;
}
.icon-bar a:hover {
    background-color: lightgrey;
}
.facebook {
  background: #3B5998;
  color: white;
}
.twitter {
  background: #55ACEE;
  color: white;
}
.google {
  background: #dd4b39;
  color: white;
}
.linkedin {
  background: #007bb5;
  color: white;
}
.youtube {
  background: #bb0000;
  color: white;
}
.content {
  margin-left: 75px;
  font-size: 30px;
}

/*this is the end of the side bar buttons CSS */




table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){background-color: white}
